@page "/permissions"
@rendermode InteractiveServer
@using System.ComponentModel
@using PermissionEnums

<h3>Agency</h3>
<div class="container">
    <div class="radio-group">
        <h3>Connection owner:</h3>
        <label>
            <input type="radio" name="connection-owner" value="BY_ME" @onchange="(e) => UpdateConnection(ConnectionOwner.ME)" />
            Me
        </label>
        <label>
            <input type="radio" name="connection-owner" value="BY_OTHERS" @onchange="(e) => UpdateConnection(ConnectionOwner.OTHER)" />
            Other
        </label>

        <h3>Connection status:</h3>
        <label>
            <input type="radio" name="connection-status" value="PRIVATE" @onchange="(e) => UpdateConnectionStatus(ConnectionStatus.PRIVATE)" />
            Private
        </label>
        <label>
            <input type="radio" name="connection-status" value="SHARED" @onchange="(e) => UpdateConnectionStatus(ConnectionStatus.SHARED)" />
            Shared in Agency space
        </label>
        <label>
            <input type="radio" name="connection-status" value="SHARED_IN_CLIENT" @onchange="(e) => UpdateConnectionStatus(ConnectionStatus.SHARED_IN_CLIENT)" />
            Shared in Client space
        </label>

        <h3>Your User Role:</h3>
        <label>
            <input type="radio" name="role" value="OWNER" @onchange="(e) => UpdateRole(Role.OWNER)" />
            Owner
        </label>
        <label>
            <input type="radio" name="role" value="ADMIN" @onchange="(e) => UpdateRole(Role.ADMIN)" />
            Admin
        </label>
        <label>
            <input type="radio" name="role" value="EDITOR" @onchange="(e) => UpdateRole(Role.EDITOR)" />
            Editor
        </label>
        <label>
            <input type="radio" name="role" value="USER" @onchange="(e) => UpdateRole(Role.USER)" />
            User
        </label>
        <label>
            <input type="radio" name="role" value="VIEWER" @onchange="(e) => UpdateRole(Role.VIEWER)" />
            Viewer
        </label>

        <h3>Other options</h3>
        <label>
            <input type="checkbox" name="switchSpace" value="SPACE_SWITCHED" @onchange="(e) => UpdateSpaceSwitched(e.Value as bool?)" />
            Switch space to client
        </label>
        <label>
            <input type="checkbox" name="privateDataSource" value="PRIVATE_CONNECTION" @onchange="(e) => UpdatePrivateDataSource(e.Value as bool?)" />
            You don't have access to Data source
        </label>
    </div>

    <hr />

    <div class="result">
        <h3>Visible actions:</h3>
        <div id="result">
            @if (result == "Can't see shit!")
            {
                <img src="https://media.tenor.com/qVduEopiYTcAAAAM/cant-see-shit-laughing.gif" alt="Can't see shit!" />
            }
            else
            {
                <pre>@result</pre>
            }
        </div>
    </div>
</div>

@code {
    private ConnectionOwner? connectionOwner;
    private ConnectionStatus? connectionStatus;
    private Role? role;
    private bool switchSpace = false;
    private bool privateDataSource = false;
    private string result = string.Empty;

    private void UpdateConnection(ConnectionOwner connectionCreated)
    {
        connectionOwner = connectionCreated;
        UpdateResult();
    }

    private void UpdateConnectionStatus(ConnectionStatus status)
    {
        connectionStatus = status;
        UpdateResult();
    }

    private void UpdateRole(Role userRole)
    {
        role = userRole;
        UpdateResult();
    }

    private void UpdateSpaceSwitched(bool? isSwitched)
    {
        switchSpace = isSwitched ?? false;
        UpdateResult();
    }

    private void UpdatePrivateDataSource(bool? isDataSourcePrivate)
    {
        privateDataSource = isDataSourcePrivate ?? false;
        UpdateResult();
    }

    private void UpdateResult()
    {
        if (connectionOwner.HasValue && connectionStatus.HasValue && role.HasValue)
        {
            result = (connectionOwner.Value, connectionStatus.Value, role.Value, switchSpace, privateDataSource) switch
            {
                (ConnectionOwner.ME, ConnectionStatus.PRIVATE, Role.OWNER, false, false) => PermissionsText.CONNECTION_OWNER_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.ME, ConnectionStatus.PRIVATE, Role.ADMIN, false, false) => PermissionsText.CONNECTION_OWNER_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.ME, ConnectionStatus.PRIVATE, Role.EDITOR, false, false) => PermissionsText.CONNECTION_OWNER_NON_ADMIN_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.ME, ConnectionStatus.PRIVATE, Role.USER, false, false) => PermissionsText.CONNECTION_OWNER_NON_ADMIN_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.ME, ConnectionStatus.PRIVATE, Role.VIEWER, false, false) => "Can't see shit!",
                (ConnectionOwner.ME, ConnectionStatus.SHARED, Role.OWNER, false, false) => PermissionsText.CONNECTION_OWNER_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.ME, ConnectionStatus.SHARED, Role.ADMIN, false, false) => PermissionsText.CONNECTION_OWNER_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.ME, ConnectionStatus.SHARED, Role.EDITOR, false, false) => PermissionsText.CONNECTION_OWNER_NON_ADMIN_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.ME, ConnectionStatus.SHARED, Role.USER, false, false) => PermissionsText.CONNECTION_OWNER_NON_ADMIN_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.ME, ConnectionStatus.SHARED, Role.VIEWER, false, false) => "Can't see shit!",
                (ConnectionOwner.ME, ConnectionStatus.SHARED_IN_CLIENT, Role.OWNER, false, false) => PermissionsText.CONNECTION_OWNER_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.ME, ConnectionStatus.SHARED_IN_CLIENT, Role.ADMIN, false, false) => PermissionsText.CONNECTION_OWNER_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.ME, ConnectionStatus.SHARED_IN_CLIENT, Role.EDITOR, false, false) => PermissionsText.CONNECTION_OWNER_NON_ADMIN_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.ME, ConnectionStatus.SHARED_IN_CLIENT, Role.USER, false, false) => PermissionsText.CONNECTION_OWNER_NON_ADMIN_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.ME, ConnectionStatus.SHARED_IN_CLIENT, Role.VIEWER, false, false) => "Can't see shit!",
                (ConnectionOwner.OTHER, ConnectionStatus.PRIVATE, Role.OWNER, false, false) => PermissionsText.ADMIN_PERMISSIONS_PRIVATE_CONNECTION.CombinedPermissions,
                (ConnectionOwner.OTHER, ConnectionStatus.PRIVATE, Role.ADMIN, false, false) => PermissionsText.ADMIN_PERMISSIONS_PRIVATE_CONNECTION.CombinedPermissions,
                (ConnectionOwner.OTHER, ConnectionStatus.PRIVATE, Role.EDITOR, false, false) => PermissionsText.NON_ADMIN_PERMISSIONS_PRIVATE_CONNECTION.GetCombinedPermissions(privateDataSource),
                (ConnectionOwner.OTHER, ConnectionStatus.PRIVATE, Role.USER, false, false) => PermissionsText.NON_ADMIN_PERMISSIONS_PRIVATE_CONNECTION.GetCombinedPermissions(privateDataSource),
                (ConnectionOwner.OTHER, ConnectionStatus.PRIVATE, Role.VIEWER, false, false) => "Can't see shit!",
                (ConnectionOwner.OTHER, ConnectionStatus.SHARED, Role.OWNER, false, false) => PermissionsText.ADMIN_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.OTHER, ConnectionStatus.SHARED, Role.ADMIN, false, false) => PermissionsText.ADMIN_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.OTHER, ConnectionStatus.SHARED, Role.EDITOR, false, false) => PermissionsText.NON_ADMIN_PERMISSIONS.GetCombinedPermissions(privateDataSource),
                (ConnectionOwner.OTHER, ConnectionStatus.SHARED, Role.USER, false, false) => PermissionsText.NON_ADMIN_PERMISSIONS.GetCombinedPermissions(privateDataSource),
                (ConnectionOwner.OTHER, ConnectionStatus.SHARED, Role.VIEWER, false, false) => "Can't see shit!",
                (ConnectionOwner.OTHER, ConnectionStatus.SHARED_IN_CLIENT, Role.OWNER, false, false) => PermissionsText.ADMIN_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.OTHER, ConnectionStatus.SHARED_IN_CLIENT, Role.ADMIN, false, false) => PermissionsText.ADMIN_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.OTHER, ConnectionStatus.SHARED_IN_CLIENT, Role.EDITOR, false, false) => PermissionsText.NON_ADMIN_PERMISSIONS.GetCombinedPermissions(privateDataSource),
                (ConnectionOwner.OTHER, ConnectionStatus.SHARED_IN_CLIENT, Role.USER, false, false) => PermissionsText.NON_ADMIN_PERMISSIONS.GetCombinedPermissions(privateDataSource),
                (ConnectionOwner.OTHER, ConnectionStatus.SHARED_IN_CLIENT, Role.VIEWER, false, false) => "Can't see shit!",

                // Handle the case where the space has been switched
                (ConnectionOwner.ME, ConnectionStatus.SHARED_IN_CLIENT, Role.OWNER, true, false) => PermissionsText.CONNECTION_PERMISSIONS_CLIENT_SWITCH.CombinedPermissions,
                (ConnectionOwner.ME, ConnectionStatus.SHARED_IN_CLIENT, Role.ADMIN, true, false) => PermissionsText.CONNECTION_PERMISSIONS_CLIENT_SWITCH.CombinedPermissions,
                (ConnectionOwner.ME, ConnectionStatus.SHARED_IN_CLIENT, Role.EDITOR, true, false) => PermissionsText.CONNECTION_PERMISSIONS_CLIENT_SWITCH.CombinedPermissions,
                (ConnectionOwner.ME, ConnectionStatus.SHARED_IN_CLIENT, Role.USER, true, false) => PermissionsText.CONNECTION_PERMISSIONS_CLIENT_SWITCH.CombinedPermissions,
                (ConnectionOwner.ME, ConnectionStatus.SHARED_IN_CLIENT, Role.VIEWER, true, false) => "Can't see shit!",
                (ConnectionOwner.OTHER, ConnectionStatus.SHARED_IN_CLIENT, Role.OWNER, true, false) => PermissionsText.CONNECTION_PERMISSIONS_CLIENT_SWITCH.CombinedPermissions,
                (ConnectionOwner.OTHER, ConnectionStatus.SHARED_IN_CLIENT, Role.ADMIN, true, false) => PermissionsText.CONNECTION_PERMISSIONS_CLIENT_SWITCH.CombinedPermissions,
                (ConnectionOwner.OTHER, ConnectionStatus.SHARED_IN_CLIENT, Role.EDITOR, true, false) => PermissionsText.CONNECTION_PERMISSIONS_CLIENT_SWITCH.CombinedPermissions,
                (ConnectionOwner.OTHER, ConnectionStatus.SHARED_IN_CLIENT, Role.USER, true, false) => PermissionsText.CONNECTION_PERMISSIONS_CLIENT_SWITCH.CombinedPermissions,
                (ConnectionOwner.OTHER, ConnectionStatus.SHARED_IN_CLIENT, Role.VIEWER, true, false) => "Can't see shit!",

                // Adding additional condition for privateDataSource true
                (ConnectionOwner.ME, ConnectionStatus.PRIVATE, Role.OWNER, false, true) => PermissionsText.CONNECTION_OWNER_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.ME, ConnectionStatus.PRIVATE, Role.ADMIN, false, true) => PermissionsText.CONNECTION_OWNER_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.ME, ConnectionStatus.PRIVATE, Role.EDITOR, false, true) => PermissionsText.CONNECTION_OWNER_NON_ADMIN_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.ME, ConnectionStatus.PRIVATE, Role.USER, false, true) => PermissionsText.CONNECTION_OWNER_NON_ADMIN_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.ME, ConnectionStatus.PRIVATE, Role.VIEWER, false, true) => "Can't see shit!",
                (ConnectionOwner.ME, ConnectionStatus.SHARED, Role.OWNER, false, true) => PermissionsText.CONNECTION_OWNER_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.ME, ConnectionStatus.SHARED, Role.ADMIN, false, true) => PermissionsText.CONNECTION_OWNER_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.ME, ConnectionStatus.SHARED, Role.EDITOR, false, true) => PermissionsText.CONNECTION_OWNER_NON_ADMIN_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.ME, ConnectionStatus.SHARED, Role.USER, false, true) => PermissionsText.CONNECTION_OWNER_NON_ADMIN_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.ME, ConnectionStatus.SHARED, Role.VIEWER, false, true) => "Can't see shit!",
                (ConnectionOwner.ME, ConnectionStatus.SHARED_IN_CLIENT, Role.OWNER, false, true) => PermissionsText.CONNECTION_OWNER_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.ME, ConnectionStatus.SHARED_IN_CLIENT, Role.ADMIN, false, true) => PermissionsText.CONNECTION_OWNER_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.ME, ConnectionStatus.SHARED_IN_CLIENT, Role.EDITOR, false, true) => PermissionsText.CONNECTION_OWNER_NON_ADMIN_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.ME, ConnectionStatus.SHARED_IN_CLIENT, Role.USER, false, true) => PermissionsText.CONNECTION_OWNER_NON_ADMIN_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.ME, ConnectionStatus.SHARED_IN_CLIENT, Role.VIEWER, false, true) => "Can't see shit!",
                (ConnectionOwner.OTHER, ConnectionStatus.PRIVATE, Role.OWNER, false, true) => PermissionsText.ADMIN_PERMISSIONS_PRIVATE_CONNECTION.CombinedPermissions,
                (ConnectionOwner.OTHER, ConnectionStatus.PRIVATE, Role.ADMIN, false, true) => PermissionsText.ADMIN_PERMISSIONS_PRIVATE_CONNECTION.CombinedPermissions,
                (ConnectionOwner.OTHER, ConnectionStatus.PRIVATE, Role.EDITOR, false, true) => PermissionsText.NON_ADMIN_PERMISSIONS_PRIVATE_CONNECTION.GetCombinedPermissions(privateDataSource),
                (ConnectionOwner.OTHER, ConnectionStatus.PRIVATE, Role.USER, false, true) => PermissionsText.NON_ADMIN_PERMISSIONS_PRIVATE_CONNECTION.GetCombinedPermissions(privateDataSource),
                (ConnectionOwner.OTHER, ConnectionStatus.PRIVATE, Role.VIEWER, false, true) => "Can't see shit!",
                (ConnectionOwner.OTHER, ConnectionStatus.SHARED, Role.OWNER, false, true) => PermissionsText.ADMIN_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.OTHER, ConnectionStatus.SHARED, Role.ADMIN, false, true) => PermissionsText.ADMIN_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.OTHER, ConnectionStatus.SHARED, Role.EDITOR, false, true) => PermissionsText.NON_ADMIN_PERMISSIONS.GetCombinedPermissions(privateDataSource),
                (ConnectionOwner.OTHER, ConnectionStatus.SHARED, Role.USER, false, true) => PermissionsText.NON_ADMIN_PERMISSIONS.GetCombinedPermissions(privateDataSource),
                (ConnectionOwner.OTHER, ConnectionStatus.SHARED, Role.VIEWER, false, true) => "Can't see shit!",
                (ConnectionOwner.OTHER, ConnectionStatus.SHARED_IN_CLIENT, Role.OWNER, false, true) => PermissionsText.ADMIN_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.OTHER, ConnectionStatus.SHARED_IN_CLIENT, Role.ADMIN, false, true) => PermissionsText.ADMIN_PERMISSIONS.CombinedPermissions,
                (ConnectionOwner.OTHER, ConnectionStatus.SHARED_IN_CLIENT, Role.EDITOR, false, true) => PermissionsText.NON_ADMIN_PERMISSIONS.GetCombinedPermissions(privateDataSource),
                (ConnectionOwner.OTHER, ConnectionStatus.SHARED_IN_CLIENT, Role.USER, false, true) => PermissionsText.NON_ADMIN_PERMISSIONS.GetCombinedPermissions(privateDataSource),
                (ConnectionOwner.OTHER, ConnectionStatus.SHARED_IN_CLIENT, Role.VIEWER, false, true) => "Can't see shit!",

                _ => string.Empty
            };
        }
        else
        {
            result = string.Empty;
        }
    }
}
