/* PermissionsGUI.razor.css */

.container[b-8uslenjmue] {
    display: flex;
    justify-content: space-between;
}

.radio-group[b-8uslenjmue], .result[b-8uslenjmue] {
    width: 45%;
    padding: 10px;
    box-sizing: border-box;
}

    .radio-group h3[b-8uslenjmue], .result h3[b-8uslenjmue] {
        margin-top: 0;
    }

    .radio-group label[b-8uslenjmue], .result pre[b-8uslenjmue] {
        display: block;
        margin-bottom: 5px;
    }

/* Additional styling for better visuals */
.radio-group[b-8uslenjmue] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.result[b-8uslenjmue] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #f9f9f9;
    white-space: pre-wrap; /* Ensures text wraps and new lines are respected */
    overflow-wrap: break-word; /* Breaks long words and prevents overflow */
}

    .result pre[b-8uslenjmue] {
        white-space: pre-wrap; /* Ensures text wraps and new lines are respected */
        overflow-wrap: break-word; /* Breaks long words and prevents overflow */
    }
